<body class="landing" {% if page.background_url %} style="background-image: url('{{ page.background_url }}');" {% endif %}>
<!--Header-->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      {% if site_logo %}
        <a href="{{ path('<front>') }}" class="navbar-brand" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="logo-front-pos" />
        </a>
      {% endif %}
      <h1>
        <strong><a href="{{ path('<front>') }}" class="navbar-brand site-name-front-pos">{{ site_name }}</a></strong>
        {% if site_slogan %}
          {{ site_slogan }}
        {% endif %}
      </h1>
    </div>
  </div>
</nav>      
<!--Main-->
<section id="main">
	<div class="inner">
    <!--Section One-->
    <section id="one" class="wrapper style1">
      <div class="image fit flush">
        <img src="" alt="" />
      </div>
      <header class="special">
        <h2></h2>
        <p></p>
      </header>
      <div class="content">
        <p></p>
      </div>
    </section>
    <!--Section Two-->
    <section id="two" class="wrapper style2">
      <header>
        <h2></h2>
        <p></p>
      </header>
      <div class="content">
        <div class="gallery">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12 ">
              <div>
                <div class="image fit flush">
                  <a href=""><img src="" alt="" /></a>
                </div>
              </div>
            </div>  
            <div class="col-sm-6 col-md-6 col-xs-12 ">
              <div>
                <div class="image fit flush">
                  <a href=""><img src="" alt="" /></a>
                </div>
              </div>
            </div>  
          <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12 ">  
              <div>
                <div class="image fit flush">
                  <a href=""><img src="" alt="" /></a>
                </div>
              </div>
            </div> 
            <div class="col-sm-6 col-md-6 col-xs-12 "> 
              <div>
                <div class="image fit flush">
                  <a href=""><img src="" alt="" /></a>
                </div>
              </div>
            </div>  
          </div>  
        </div>
      </div>
    </section>     
    <!--Section Three-->
    <section id="three" class="wrapper">
      <div class="spotlight">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="image flush"><img src="" alt="" /></div>
          </div> 
          <div class="col-sm-6 col-md-6 col-xs-12"> 
            <div class="inner">
              <h3></h3>
              <p></p>
            </div>
          </div>  
        </div>
      </div>
      <div class="spotlight">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="image flush"><img src="" alt="" /></div>
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12">  
            <div class="inner">
              <h3></h3>
              <p></p>
            </div>
          </div>   
        </div>   
      </div>
      <div class="spotlight">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="image flush"><img src="" alt="" /></div>
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12">  
            <div class="inner">
              <h3></h3>
              <p></p>
            </div>
          </div>  
        </div>
      </div>  
    </section>
  </div>   
</section> 
<!--Footer-->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li>
        <a href="{{ caminar_facebook }}" class="icon fa-facebook"></a>
      </li>
      <li>
        <a href="{{ caminar_twitter }}" class="icon fa-twitter"></a>
      </li>
      <li>
        <a href="{{ caminar_pinterest }}" class="icon fa-instagram"></a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; {{ site_name }}</li>
      <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
      <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
      <li>Theme: <a href="http://zyxware.com">Zyxware</a></li>
    </ul>
  </div>
</footer>
</body>
